<div class="registration-cssave">
    <form action="" method="post">
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
      <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
        <h3 class="text-center">Вход</h3>
        <div>
            <input  name="phone" type="phone" value="{{ phone }}" placeholder="Телефон" readonly required>
        </div>
        <br>
          <input name="password"  type="text"  value="{{ random_num }}" placeholder="Код пароль" readonly  required>
        <br>
        <br>
        <div>
            <button type="submit">Войти </button>
        </div>
    </form>
</div>

