<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
<head>
<style type="text/css">
    .center {
      text-align: center;
    }
</style>
</head>
<div class="registration-cssave">
    <form action="{% url 'create' %}" method="post"> {% csrf_token %}
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
      <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
        <h3 class="text-center">Вход</h3>
        <br>
        <div class="center">
            <input  name="phone" type="phone" value="{{ phone }}" placeholder="Телефон" readonly required>
        </div>
        <br>
        <div class="center">
          <input name="password"  type="text"  value="{{ random_num }}" placeholder="Код пароль" readonly  required>
        </div>
        <br>
        <br>
        <div class="center">
            <button type="submit"> Войти </button>
        </div>
    </form>
</div>

