<div class="registration-cssave">
    <form>
        <h3 class="text-center">Вход</h3>
        <div class="form-group">
            <input class="form-control item" type="phone" name="phone" maxlength="15" minlength="6" pattern="^[0-9_.-]*$" id="phone" placeholder="Телефон" required>
        </div>
        <br>
        <div class="form-group">
            <input class="form-control item"  name="password" maxlength="6" minlength="6" pattern="^[0-9_.-]*$" id="password" placeholder="Код пароль" required>
        </div>
        <br>
        <div class="form-group">
            <button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт</button>
        </div>
    </form>
</div>

